html.js .modal-menu-block .modal-menu-block--trigger {
  cursor: pointer;
}

html.js .modal-menu-block .modal-menu-block--content {
  display: none;
}

html.js .modal-menu-block.open .modal-menu-block--content {
  display: block;
}
