.modal-menu-block--content .modal-menu-block--opener:before {
  content: '+';
  display: inline-block;
  cursor: pointer;
}

.modal-menu-block--content .modal-menu-block--opener.expanded:before {
  content: '-';
}

.modal-menu-block--content ul ul {
  display: none;
}
